@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  height: 100vh;
  color: #000000c2;

  background-color: #000000c2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 90%;
  height: 90%;
  background-image: linear-gradient(to top left, #215a3e 0%, #b2ffaf 100%);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  color: #61c25d;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 1.6em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
#name--1 {
  text-align: right;
  color: #194b47;
}

.score {
  font-family: "Coming Soon", cursive;
  font-size: 20rem;
  color: #61c25d;
  margin-left: 20%;
  margin-top: 22%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
#score--1 {
  color: #194b47;
  text-align: right;
  margin-right: 20%;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.747);
}
.player--active .name span {
  padding: 10px;
  border: 3px solid #000;
  border-radius: 10px;
}

.grid {
  display: grid;
  justify-content: space-around;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  grid-template-columns: repeat(3, auto);
}

.cell {
  font-family: "Coming Soon", cursive;
  font-size: 12em;
  font-weight: 600;
  width: 180px;
  height: 180px;
  box-shadow: #333;
  border: 3px solid #000000c2;
  cursor: pointer;
  text-align: center;
  padding: 5%;
  background-color: #e9e9e9;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 250px;
  border-radius: 2rem;
  transition: all 0.2s;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}
.btn--newRound {
  left: 60%;
  top: 90%;
}
.btn--reset {
  top: 90%;
}

.game--status {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  font-size: 2rem;
  text-decoration: underline 3px;
}
@media (max-width: 1200px) {
  .game--status {
    font-size: 1.5rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .score {
    margin-left: 0;
    font-size: 10rem;
    text-align: center;
  }
  #score--1 {
    margin-right: 0;
    text-align: center;
  }
  .cell {
    width: 90px;
    height: 90px;
    font-size: 5rem;
    line-height: 50px;
  }
  .btn {
    font-size: 1rem;
  }
  .btn::first-letter {
    font-size: 1.5rem;
  }
}
