@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #215a3e 0%, #b2ffaf 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}
#name--1 {
  text-align: right;
}
#name--X {
  padding-left: 12%;
}

#name--O {
  padding-left: 82%;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #05490a;
  margin-bottom: auto;
  margin-top: 10%;
}
#score--1 {
  text-align: right;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.747);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.grid {
  display: grid;
  justify-content: space-around;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  grid-template-columns: repeat(3, auto);
}

.cell {
  font-family: "Permanent Marker", cursive;
  color: #fff;
  width: 180px;
  height: 180px;
  box-shadow: #333;
  border: 3px solid #000000;
  cursor: pointer;
  line-height: 100px;
  font-size: 120px;
  text-align: center;
  padding-top: 20%;
  background-color: #fff;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;

  border-radius: 2rem;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}
.btn--newRound {
  top: 10rem;
}
.btn--reset {
  top: 90%;
}

.game--status {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  font-family: inherit;
  font-size: 5rem;
  text-decoration: underline 4px;
}
@media (max-width: 900px) {
  .game--status {
    font-size: 3rem;
  }
}
